@use "../../abstracts/" as *;

.loadingBarWrapper {
  width: 100%;
  height: 15px;
  @include rounded-border(8px);
  border-width: 1px;
}

.loadingBar {
  height: 100%;
  background: $common-gradient;
  border-radius: 8px;
}
