@use "../../abstracts" as *;

.linksWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: lighter;
  font-size: 0.8rem;
  color: $results-color;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 1.2rem;
  div {
    margin: 0 0.3rem;
  }
}
